<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./main.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">

    <title>Spinning Wheel</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body class="bg-black bg-opacity-90 flex items-center justify-center">
    
    <div class="overflow-hidden" id="app">

        <div class="relative flex items-center justify-center"
        :class="['w-[' + ((depth * 2) + 40) + 'px]', 'h-[' + ((depth * 2) + 40) + 'px]']">

            <div class="absolute z-20 w-6 h-8 bg-white"
                :class="'top-0'"
                style="clip-path: polygon(100% 0%, 50% 100%, 0% 0%);">
            </div>
            <div class="absolute z-20 w-6 h-8 bg-stone-300"
                :class="'top-0'"
                style="clip-path: polygon(75% 10%, 50% 60%, 25% 10%);">
            </div> 

            <div class="z-10 rounded-[50%] blur-lg bg-black bg-opacity-60 absolute"
                :class="['w-[' +  depth / 3 + 'px]', 'h-[' +  depth / 3 + 'px]']">
            </div>
            <button @click="spinWheel" class="lg:text-5xl md:text-3xl text-xl absolute z-10 bg-[#e2e2e2] uppercase border border-white rounded-[50%] cursor-pointer border-[8px] font-bold text-[#a2a2a2]"
                    :class="['w-[' +  depth / 3 + 'px]', 'h-[' +  depth / 3 + 'px]']">
                <!-- {{ displayNumber }} -->
                SPIN
            </button>

            <div ref="deck" id="deck" class="absolute flex items-center justify-center wheel ease-in-out"
                :class="['rotate-[' + spinToDegree + 'deg]', 'duration-[' + spinSpeed + 's]']">       

                <div class="rounded-[50%] blur bg-black absolute"
                    :class="['w-[' + depth * 2 + 'px]', 'h-[' + depth * 2 + 'px]']">
                </div>
                
                <canvas class="absolute" :width="deckSize" :height="deckSize" ref="big-wheel"></canvas>

                <div class="rounded-[50%] blur-lg bg-black absolute"
                    :class="['w-[' + littleDepth * 2 + 'px]', 'h-[' + littleDepth * 2 + 'px]']">
                </div>

                <canvas class="absolute" :width="deckSize" :height="deckSize" ref="little-wheel"></canvas>
        
                <div v-for="index in 38" :key="index"
                    class="absolute origin-bottom bottom-[50%] font-bold text-white lg:text-5xl md:text-3xl text-xl"
                    :class="['rotate-[' + (360 / 38) * index + 'deg]', 'h-[' + ((depth - 20)) + 'px]']">
                    <span v-if="!greenZone(numbers[index - 1])">
                        {{ numbers[index - 1] }}
                    </span>
                </div>

                <div v-for="index in 38" :key="index" 
                    class="absolute origin-bottom bottom-[50%] font-bold text-black lg:text-5xl md:text-3xl text-xl"
                    :class="['rotate-[' + (360 / 38) * index + 'deg]', 'h-[' + ((littleDepth - 20)) + 'px]']">
                    <span v-if="showLabel(index)">
                        {{ labels[index] }}
                    </span>
                </div>
            </div>
            
        </div>

    </div>

    <script src="./main.js"></script>

    <script>

        const mountedApp = app.mount("#app")

    </script>

    <style>

        body {
            font-family: 'Oswald', sans-serif;
        }

    </style>

</body>
</html>